<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>甲子園NOW!</h1>
  </div>
</div>

<%= form_with model: @post, local: true do |form| %>
<%= render 'shared/error_messages', object: @location %>

  <div>
    <%= form.hidden_field :latitude, id: 'latitude' %>
    <%= form.hidden_field :longitude, id: 'longitude' %>
  </div>

  <div>
    <button type="button" id="get-location">位置情報を取得</button>
  </div>
  <div>
    <%= form.submit t('.submit') %>
  </div>
<% end %>

<%= javascript_include_tag 'location' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
