<%= image_tag 'header.png', class: 'header-image' %>
<%= render 'shared/guide_modal' %>
<%= render 'shared/location_modal' %>
<%= render 'shared/email_prompt_modal' %>
<%= render 'shared/post_modal' %>
<div class="center d-flex flex-column justify-content-center align-items-center mt-4 mb-4">
  <%= render 'matches/matches', matches: @matches %>
  <%= render 'user_locations/location' %>
  <div class="d-grid gap-2 col-11 col-md-5 mx-auto mt-2 mb-4">
      <%= link_to t('user_locations.create.submit'), new_user_location_path, class: 'btn btn-success btn-block' %>
      <%= link_to t('posts.create.submit'), new_post_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

  <% if @posts.present? %>
    <div class="row">
      <div class="col-8 col-md-5 mx-auto">
        <% @posts.each do |post| %>
          <div class="card-body mb-3 card-post">
            <%= link_to post_path(post) do %>
              <%= render post %>
            <% end %>
          </div>
        <% end %>
        <div class="d-flex justify-content-end mb-5">
          <%= link_to 'もっと見る', posts_path %>
        </div>
      </div>
    </div>
  <% else %>
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
    <p class="card-text mx-auto"><%= I18n.t('posts.no_result') %></p>
  </div>
  <% end %>
