<%= image_tag 'header.png', class: 'header-image' %>

<div class="center d-flex flex-column justify-content-center align-items-center mt-4 mb-4">
  <%= render 'matches/matches', matches: @matches %>
  <%= render 'user_locations/location' %>
  <div class="d-grid gap-2 col-11 col-md-5 mx-auto mt-2 mb-4">
      <%= link_to t('user_locations.create.submit'), new_user_location_path, class: 'btn btn-success btn-block' %>
      <%= link_to t('posts.create.submit'), new_post_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
      <div class="center">
        <div class="btn-margin">
            <button id="location-btn" class="btn btn-outline-primary btn-lg">
                現在位置を取得する
            </button>
        </div>
        <div class="txt-margin">
            <p>緯度：<span id="latitude">???</span><span>度</span></p>
            <p>経度：<span id="longitude">???</span><span>度</span></p>
        </div>
      </div>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="card-body mb-3 card-post">
        <div class="row">
          <div class="col-8 col-md-5 mx-auto">
            <%= render post %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
    <p class="card-text mx-auto"><%= I18n.t('posts.no_result') %></p>
  </div>
  <% end %>
