<div class='top-wrapper'>
  <div class='top-inner-text'>
    <title>甲子園NOW!</title>
  </div>
</div>
  <div class="center d-flex flex-column justify-content-center align-items-center mt-4 mb-4">
    <%= render 'matches/matches', matches: @matches %>
    <%= render 'user_locations/location' %>
  <div class="d-grid gap-2 col-11 col-md-6 mx-auto mt-2 mb-4">
      <%= link_to t('user_locations.create.submit'), new_user_location_path, class: 'btn btn-success btn-block' %>
      <%= link_to t('posts.create.submit'), new_post_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="card-body mb-3">
        <div class="row">
          <div class="col-8 col-md-6 mx-auto">
            <%= render post %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
    <p class="card-text mx-auto"><%= I18n.t('posts.no_result') %></p>
  </div>
  <% end %>
