<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <h1 class="zen-maru text-center mt-5"><%= t('.title') %></h1>
      <table class="table">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:user_name) %></th>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:favorite_player) %></th>
          <td><%= @user.favorite_player %></td>
        </tr>
        <tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:favorite_viewing_block) %></th>
          <td><%= @user.favorite_viewing_block %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
          <td>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar_variant, class: 'rounded-circle', id: 'preview' %>
            <% else %>
              <%= image_tag 'sample.jpg', size: '100x100', class: 'rounded-circle', id: 'preview' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="card-body mb-3 card-post">
      <div class="row">
        <div class="col-8 col-md-5 mx-auto">
          <%= render post %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <p class="card-text mx-auto"><%= I18n.t('posts.no_result') %></p>
    </div>
  <% end %>
</div>
