<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 mx-auto">
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="zen-maru text-center my-3">確認メールの再送</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control mb-3" %>
        </div>

        <div class="text-center mb-3">
          <%= f.submit "確認メールを再送する", class: 'btn btn-success', style: "width: 40%;" %>
        </div>
      <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
