<% content_for(:title, t('.title')) %>
<div class="container mb-5 pt-2">
  <h1 class="zen-maru mt-3"><%= t('.title') %></h1>
  <div class="row">
    <div class="col-md-12 mb-3 d-flex justify-content-between">
      <%= render 'search_form' %>
      <%= link_to 'イベント作成', new_admin_event_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Event.human_attribute_name(:id) %></th>
          <th scope="col"><%= Event.human_attribute_name(:title) %></th>
          <th scope="col"><%= Event.human_attribute_name(:event_date) %></th>
          <th scope="col"><%= Event.human_attribute_name(:created_at) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @events.each do |event| %>
          <%= render 'event', event: event %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
      <%= paginate @events %>
    </div>
  </div>
</div>