<table class="table table-bordered mt-3" style="background-color: white;">
  <tr>
    <th><%= Event.human_attribute_name(:title) %>:</th>
    <td><%= @event.title %></td>
  </tr>

  <tr>
    <th><%= Event.human_attribute_name(:body) %></th>
    <td><%= @event.body %></td>
  </tr>

  <tr>
    <th><%= Event.human_attribute_name(:detail_url) %></th>
    <td>
      <% if @event.detail_url.present? %>
        <%= link_to @event.detail_url, @event.detail_url, target: "_blank" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= Event.human_attribute_name(:start_date) %></th>
    <td>
      <% if @event.event_dates.first.start_date.present? %>
        <%= @event.event_dates.first.start_date.strftime('%m-%d') %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= Event.human_attribute_name(:end_date) %></th>
    <td>
      <% if @event.event_dates.first.end_date.present? && @event.event_dates.first.start_date != @event.event_dates.first.end_date %>
        <%= @event.event_dates.first.end_date.strftime('%m-%d') %>
      <% end %>
    </td>
  </tr>
  </table>

<%= link_to '編集', edit_admin_event_path(@event) %> |
<%= link_to '戻る', admin_events_path %>