<%= form_with(model: [:admin, @match], local: true) do |form| %>
  <% if @match.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% @match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= form.label :match_date %>
        <%= form.date_field :match_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :match_time %>
        <%= form.select :match_time, options_for_select((13..19).to_a.product([0, 15, 30, 45]).map { |h, m| "%02d:%02d" % [h, m] }, @match.match_date ? @match.match_date.strftime("%H:%M") : "18:00"), {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :event %>
        <%= form.collection_select :event_id, Event.all, :id, :title, {include_blank: true}, {class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= form.label :opponent %>
        <%= form.select :opponent, Match.opponents.keys.map { |opponent| [opponent, opponent] }, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :stadium %>
        <%= form.select :stadium, Match::STADIUM_NAMES.keys.map { |stadium| [Match::STADIUM_NAMES[stadium], stadium] }, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :result %>
        <%= form.select :result, Match.results.keys.map { |result| [result, result] }, {include_blank: true}, {class: 'form-control'} %>
      </div>

      <div class="form-group">
        <%= form.label :team_score %>
        <%= form.number_field :team_score, min: 0, value: @match.team_score || '', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :away_team_score %>
        <%= form.number_field :away_team_score, min: 0, value: @match.away_team_score || '', class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit @match.new_record? ? '試合情報作成' : '更新', class: 'btn btn-primary my-2' %>
      </div>
    </div>
  </div>
<% end %>