<tr>
  <td><%= match.id %></td>
  <td><%= match.match_date.strftime('%Y-%m-%d %H:%M') %></td>
  <td><%= match.event_id %></td>
  <td><%= match.opponent %></td>
  <td><%= Match::STADIUM_NAMES[match.stadium] || match.stadium %></td>
  <td><%= match.result %></td>
  <td><%= match.team_score %></td>
  <td><%= match.away_team_score %></td>
  <td class="d-flex justify-content-end">
    <%= link_to t('defaults.show'), admin_match_path(match), class: 'btn btn-primary mx-1' %>
    <%= link_to t('defaults.edit'), edit_admin_match_path(match), class: 'btn btn-secondary' %>
    <%= link_to t('defaults.delete'), admin_match_path(match), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-danger mx-1' %>
  </td>
</tr>
