<% content_for(:title, t('.title')) %>
<div class="container mb-5 pt-2">
  <h1><%= @month.strftime('%Y年%m月') %></h1>
  <div class="row">
    <div class="col-md-12 mb-3">
      <%= render 'search_form' %>
    </div>
  </div>
<div class='d-flex justify-content-end'>
  <% (3..10).each do |month| %>
    <%= link_to month, month_admin_matches_path(month: "#{Date.today.year}-#{month.to_s.rjust(2, '0')}"), class: 'mx-2' %>
  <% end %>
</div>
<table class="table table-bordered" style="background-color: white;">
  <thead>
    <tr>
      <th>日付</th>
      <th>結果</th>
      <th>スコア</th>
      <th>対戦相手</th>
      <th>試合時間</th>
      <th>スタジアム</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <th><%= match.match_date.strftime('%m/%d(%a)') %></th>
        <th><%= match.result %></th>
        <th><%= match.team_score %> - <%= match.away_team_score %></th>
        <th><%= match.opponent %></th>
        <th><%= match.match_date.strftime('%H:%M') %></th>
        <th><%= Match::STADIUM_NAMES[match.stadium] || "甲子園" %></th>
        <th class="d-flex justify-content-end">
          <%= link_to t('defaults.show'), admin_match_path(match), class: 'btn btn-primary mx-1' %>
          <%= link_to t('defaults.edit'), edit_admin_match_path(match), class: 'btn btn-secondary' %>
          <%= link_to t('defaults.delete'), admin_match_path(match), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-danger mx-1' %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>