<header>
  <nav class='navbar navbar-expand-lg navigation navbar-dark bg-dark'>
  <%= link_to '/', class: 'navbar-brand' do %>
  <h4>甲子園NOW!</h4>
  <% end %>
  <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
          </a>
          <div class='dropdown-menu dropdown-menu-end'>
            <a class='dropdown-item' href='/'>トップページ</a>
            <%= link_to t('helpers.submit.user.post'), posts_path, class: 'dropdown-item' %>
            <%= link_to t('helpers.submit.user.seat'), 'https://koshien.hanshin.co.jp/stadium_seat/', class: 'dropdown-item' %>
          <% if user_signed_in? %>
            <%= link_to t('helpers.submit.user.profile'), profile_path, class: 'dropdown-item' %>
            <%= link_to t('helpers.submit.user.logout'), destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { confirm: 'ログアウトしますか？' } %>
          <% else %>
          <%= link_to t('helpers.submit.user.new'), new_user_session_path, class: 'dropdown-item' %>
          <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>