<% content_for(:title, t('.title')) %>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="text-center">
      <h1 class="zen-maru mt-3 mb-3"><%= t('.title') %></h1>
      <%= form_with model: @user_location, local: true do |form| %>
        <%= render 'shared/error_messages', object: @user_location %>

        <div class="center card p-3 mb-3">
          <div class="btn-margin">
            <small>ボタンを押す前にページをリロードしてください</small>
            <button id="location-btn" class="btn btn-outline-dark btn-lg" type="button">
              現在位置を取得する
            </button>
            <div class="txt-margin" style="display: none;">
              <p>緯度：<span id="latitude">???</span><span>度</span></p>
              <p>経度：<span id="longitude">???</span><span>度</span></p>
            </div>
          </div>
          <div class="txt-margin mt-3">
            <h5>選択されたシート：<span id="selected-seat">???</span></h5>
              <div id="seat-select-popup" style="display: none;">
              <p>この位置でよろしいですか？</p>
                  <%= form.select :location_id, Seat.all.map { |seat| [I18n.t("user_location.seat.#{seat.seat_name}"), seat.id] }, { selected: @seat.location_id }, { onchange: 'updateSelectedSeat()', id: 'location_id' } %>
                <button id="yes-btn" class="btn btn-secondary btn-sm" type="button">登録</button>
                <div id="seat-select" style="display: none;"></div>
              </div>
            </div>
          </div>
        <div class="card actions my-5 p-3">
          <%= form.label :icon, I18n.t('user_location.seat.icon'), class: 'form-label' %>
          <div class="row icon-row icon-selection">
            <% UserLocation.icons.keys.each do |icon| %>
              <div class="col icon-option mb-3">
                <%= form.radio_button :icon, UserLocation.icons[icon], id: "icon_#{icon}" %>
                <%= label_tag "icon_#{icon}" do %>
                  <div>
                    <img src="<%= image_path("icons/#{icon}.png") %>" alt="<%= icon %>">
                  </div>
                  <div>
                    <%= I18n.t("user_location.icon.#{icon}") %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
        <div class="text-center mb-5">
          <%= form.submit I18n.t('user_location.seat.submit'), class: 'btn btn-primary', style: "width: 40%;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
