<% content_for(:title, t('.title')) %>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mt-3 mb-3"><%= t('.title') %></h1>
      <%= form_with model: @user_location, local: true do |form| %>
        <%= render 'shared/error_messages', object: @user_location %>

      <div class="md-3">
        <%= form.label :location_id, I18n.t('user_location.seat.seat_id'), class: 'form-label' %>
      </div>
      <div class="mb-5">
        <%= form.select :location_id, Location.location_types.map { |s, v| [I18n.t("user_location.seat.#{s}"), v] }, prompt: I18n.t('user_location.seat.blank') %>
      </div>

      <div class="actions">
      <%= form.label :icon, I18n.t('user_location.seat.icon'), class: 'form-label' %>
          <div class="row icon-selection">
            <% UserLocation.icons.keys.each do |icon| %>
              <div class="col icon-option pb-4">
                <%= form.radio_button :icon, UserLocation.icons[icon], id: "icon_#{icon}" %>
                <%= label_tag "icon_#{icon}" do %>
                  <img src="<%= image_path("icons/#{icon}.png") %>" alt="<%= icon %>">
                  <%= I18n.t("user_location.icon.#{icon}") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <div class="text-center">
        <%= form.submit I18n.t('user_location.seat.submit'), class: 'btn btn-primary', style: "width: 40%;" %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
