<%# カレンダー表示について %>
<div class='simple-calendar'>
  <div class='text-center'>
    <% if @month %>
      <h2><%= @month.strftime("%m月") %></h2>
    <% end %>
  </div>
  <div class='d-flex justify-content-end'>
    <% (3..10).each do |month| %>
      <%= link_to month, show_month_matches_path(month: "#{Date.today.year}-#{month.to_s.rjust(2, '0')}"), data: { turbo_action: 'replace', turbo_frame: 'game-view' }, class: 'mx-2' %>
    <% end %>
  </div>
  <table class='table table-striped'>
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>