<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-5">
      <h1 class="zen-maru text-center mt-3"><%= t('.title') %></h1>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <div class="mb-3">
          <%= f.label :email %><br />
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="text-center">
        <%= f.submit I18n.t('devise.sessions.new.submit'), class: 'btn btn-primary mb-3', style: "width: 40%;" %>
        </div>
      <% end %>

      <div class='text-center'>
        <p><%= render "devise/shared/links" %></p>
      </div>
    </div>
  </div>
</div>