<%# カレンダーのリスト表示 %>
<div class='simple-calendar'>
  <div class='text-center'>
    <% if @month %>
      <h2><%= @month.strftime("%m月") %></h2>
    <% end %>
  </div>
  <div class='d-flex justify-content-end'>
    <% (3..10).each do |month| %>
      <%= link_to month, show_month_matches_path(month: "#{Date.today.year}-#{month.to_s.rjust(2, '0')}"), data: { turbo_action: 'replace', turbo_frame: 'game-view' }, class: 'mx-2' %>
    <% end %>
  </div>
</div>

<table class="table table-bordered" style="background-color: white;">
  <thead>
    <% (@month.beginning_of_month..@month.end_of_month).each do |date| %>
      <tr>
        <td colspan="4">
          <div class="d-flex justify-content-between">
            <div>
              <%= date.strftime('%m/%d(%a)') %>
            </div>
            <div class="d-flex">
              <% user_match_on_date = @user_matches.find { |user_match| user_match.date == date } %>
              <% user_location_on_date = @user_locations.find { |location| location.date == date } if @user_locations %>
              <% event_on_date = @events.find { |event| event.event_dates.any? { |event_date| date >= event_date.start_date && date <= event_date.end_date } } if @events %>
              <% if user_match_on_date %>
                <div class='user-match-show mr-2'>
                  <div class='user-match-match'>
                    _観戦予定_
                  </div>
                </div>
              <% end %>
              <% if user_location_on_date %>
                <div class='user-calendar-show'>
                  <div class='calendar-icon'>
                    <%= image_tag("icons/#{user_location_on_date.icon}", alt: user_location_on_date.icon) %>
                  </div>
                  <div class='calendar-seat'>
                    <%= I18n.t("seats.#{user_location_on_date.location_type}") %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% matches_on_date = @matches.select { |match| match.match_date.present? && match.match_date.to_date == date } %>
      <% if matches_on_date.empty? %>
        <tr>
          <td colspan="4">&nbsp;</td> <!-- 空白の行を追加 -->
        </tr>
      <% else %>
        <% matches_on_date.each do |match| %>
          <tr>
            <td>
              <div class='mb-1 text-center'>
                <% if match.result %>
                  <%= match.team_score %> - <%= match.away_team_score %><br>
                  vs <%= match.opponent %>
                <% else %>
                  vs <%= match.opponent %><br>
                  <%= match.match_date.strftime('%H:%M') %><br>
                  <%= Match::STADIUM_NAMES[match.stadium] || "甲子園" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        <% if event_on_date %>
          <tr>
            <td colspan="4">
              <div class='event-show'>
                <div class='event-title'>
                  <%= event_on_date.title %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </thead>
</table>