<%= month_calendar start_date: @month do |date| %>
  <% day_classes = @user_locations.find { |location| location.date == date } ? 'attended-match' : '' %>
  <div class="<%= day_classes %>"><%= date.day %></div>
  <% matches_on_date = @matches.select { |match| match.match_date.to_date == date } %>
  <% matches_on_date.each do |match| %>
    <div class='mb-1 text-center'>
      <% if current_user && current_user.email == ENV['ADMIN_EMAIL'] %>
        <%= link_to '削除', match_path(match), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
      <% if match.result %>
        <% match_color = if match.result == '勝ち'
                           'rgba(255, 60, 0, 0.3)' # 透明の赤色
                         elsif match.result == '負け'
                           'rgba(0, 160, 255, 0.3)' # 透明の青色
                         else
                           'transparent' # 透明（引き分けまたは未定の場合）
                         end %>
        <div style="background-color: <%= match_color %>;">
          <div style="box-shadow: 0 0 10px <%= match_color %>;">
          <%= match.team_score %> - <%= match.away_team_score %><br>
          vs <%= match.opponent %>
        </div>
      <% else %>
        <div>
          vs <%= match.opponent %><br>
          <%= match.match_date.strftime('%H:%M') %><br>
          <%= Match::STADIUM_NAMES[match.stadium] || "甲子園" %>
        </div>
      <% end %>
    </div>
  <% end %>
    <% user_match_on_date = @user_matches.find { |user_match| user_match.date == date } %>
  <% if user_match_on_date %>
    <div class='user-match-show mt-1'>
      <div class='user-match-match'>
        観戦予定
      </div>
    </div>
  <% end %>
  <% if @user_locations %>
    <% user_location_on_date = @user_locations.find { |location| location.date == date } %>
    <% if user_location_on_date %>
      <div class='user-calendar-show mt-1'>
        <div class='calendar-icon'>
          <%= image_tag("icons/#{user_location_on_date.icon}", alt: user_location_on_date.icon) %>
        </div>
        <div class='calendar-seat'>
          <%= I18n.t("seats.#{user_location_on_date.location_type}") %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% event_on_date = @events.find { |event| event.event_dates.any? { |event_date| date >= event_date.start_date && date <= event_date.end_date } } %>
  <% if event_on_date %>
    <div class='event-show mt-1'>
      <%= event_on_date.title %>
    </div>
  <% end %>
<% end %>
