<%# カレンダーの一覧ページ %>
<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col'>
    <h3 class='text-center zen-maru my-3'><%= t('activerecord.models.match') %></h3>
    <div class='d-flex justify-content-end float-right'>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#scheduleModal">観戦予定を登録する</button>
    </div>
    <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="scheduleModalLabel">観戦予定を登録する</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with(url: add_to_schedule_matches_path, method: :post) do |form| %>
              <%= form.date_field :date, value: @date || Date.today, min: Date.today %>
              <%= form.submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

      <turbo-frame id="game-view">
        <div class="mt-3">
          <!-- スマホサイズでは非表示、それ以上のサイズでは表示 -->
          <div class="d-none d-sm-block">
            <%= render 'matches/match_calendar', matches: @matches, month: @month %>
          </div>
          <!-- スマホサイズでは表示、それ以上のサイズでは非表示 -->
          <div class="d-block d-sm-none">
            <%= render 'matches/match_list', matches: @matches, month: @month %>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
