<%# 月ごとのカレンダー表示 %>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col'>
    <h3 class='text-center my-3'><%= t('activerecord.models.match') %></h3>
      <turbo-frame id="game-view">
        <div id='game-view'>
          <!-- スマホサイズでは非表示、それ以上のサイズでは表示 -->
          <div class="d-none d-sm-block">
            <%= month_calendar start_date: @month do |date| %>
              <%= date.day %>
              <% @matches.each do |match| %>
                <% if match.match_date == date %>
                  <%= match.title %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <!-- スマホサイズでは表示、それ以上のサイズでは非表示 -->
          <div class="d-block d-sm-none">
            <%= render 'matches/match_list', matches: @matches, month: @month %>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
