<%= form_with model: @post, local: true do |form| %>
<%= render 'shared/error_messages', object: @post %>
<div class="mb-3">
  <label for="body"><%= Post.human_attribute_name(:body) %></label>
  <%= form.text_area :body, class: 'form-control',rows: "10" %>
</div>
<div class="mb-3">
  <label for="image"><%= Post.human_attribute_name(:image) %></label>
  <%= form.file_field :image, class: 'form-control', accept: 'image/*' %>
</div>
<div class="text-center">
<%= form.submit @post.new_record? ? t('posts.new.submit') : t('posts.edit.submit'), class: 'btn btn-primary mt-3', style: "width: 40%;" %>
</div>
<% end %>
<div class="text-center pt-5">
<%= link_to '一覧へ戻る', posts_path%>
</div>
