<%= link_to post.body, post_path(post) %>
<div class="d-flex">
  <% if current_user.own?(post) %>
    <div class='ms-auto'>
      <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
      <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_action: 'replace', turbo_method: :delete, confirm: I18n.t('defaults.delete_confirm') } do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </div>
  <% end %>
</div>
<div class='col-md-3'>
  <% if post.image.present? %>
    <%= image_tag post.image, class: 'card-img-top img-fluid', size: '100x100' %>
  <% end %>
</div>
<ul class="list-inline float">
  <li><i class="bi bi-person"></i><%= post.user.user_name %></li>
  <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
</ul>
