<div class="card mb-3">
  <div class="row g-0 mx-0">
    <% if post.image.present? %>
      <div class='col-md-3 d-flex align-items-center justify-content-center'>
        <%= image_tag post.image.url, class: 'card-img-top img-fluid', style: 'width: 100%;' %>
      </div>
      <div class="col-md-9">
    <% else %>
      <div class="col-md-12">
    <% end %>
      <div class="card-body d-flex flex-column" style="height: 100%;">
        <div class="flex-grow-1">
          <div class="d-flex justify-content-end">
            <% if current_user&.own?(post) %>
              <div>
                <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
                  <i class="bi bi-pencil-fill"></i>
                <% end %>
                <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, confirm: I18n.t('defaults.delete_confirm') } do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
            <% else %>
              <div style="display: flex; align-items: center;">
                <turbo-frame id="like_message_for_post-<%= post.id %>"></turbo-frame>
                <%= render 'posts/like_buttons', { post: post } %>
              </div>
            <% end %>
          </div>
          <%= link_to post.body, post_path(post) %>
        </div>
        <ul class="list-inline mt-auto">
          <li class="mr-3"><i class="bi bi-person"></i><%= post.user.user_name %></li>
          <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
        </ul>
      </div>
  </div>
</div>