<% content_for(:title, t('.title')) %>
<div class='container mt-3 mb-3'>
  <div class="row justify-content-center">
    <div class="col-lg-6">
    <h1 class="text-center zen-maru pb-3"><%= t('.title') %></h1>
    <%= render 'search_form', q: @q, url: like_posts_posts_path %>
  </div>
</div>
  <% if @liked_posts.present? %>
    <% @liked_posts.each do |liked_post| %>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 mt-3">
            <%= render liked_post %>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <p class="text-center mt-5"><%= t('.no_result') %></p>
    <% end %>
  </div>
  <%= paginate @liked_posts %>
</div>
