<div class="flex-shrink-0 p-3">
  <a href="#" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold"><%= current_user.user_name %></span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#post-collapse" aria-expanded="true">
        <%= I18n.t('admin.dashboards.index.post') %>
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
        <%= I18n.t('admin.dashboards.index.user') %>
      </button>
      <div class="collapse" id="user-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><%= link_to '#', class: "link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#match-collapse" aria-expanded="false">
        <%= I18n.t('admin.dashboards.index.match') %>
      </button>
      <div class="collapse" id="match-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><%= link_to '#', class: "link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#event-collapse" aria-expanded="false">
        <%= I18n.t('admin.dashboards.index.event') %>
      </button>
      <div class="collapse" id="event-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><%= link_to '#', class: "link-body-emphasis d-inline-flex text-decoration-none rounded" %></li>
        </ul>
      </div>
    </li>
  </ul>
</div>