<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= form_with model: @location, local: true do |form| %>
        <%= render 'shared/error_messages', object: @location %>

      <div class="md-3">
        <%= form.label :seat_name, I18n.t('location.seat.seat_id'), class: 'form-label' %>
      </div>
      <div class="mb-5">
        <%= form.select :seat_id, Seat.seats.map { |s, v| [I18n.t("location.seat.#{s}"), v] }, prompt: I18n.t('location.seat.blank') %>
      </div>

      <div class="actions md-3">
      <%= form.label :icon, I18n.t('location.seat.icon'), class: 'form-label' %>
          <div class="icon-selection">
            <% Location.icons.keys.each do |icon| %>
              <div class="icon-option md-3">
                <%= form.radio_button :icon, icon, id: "icon_#{icon}" %>
                <%= label_tag "icon_#{icon}" do %>
                  <img src="<%= image_path("icons/#{icon}.png") %>" alt="<%= icon %>">
                  <%= I18n.t("location.icon.#{icon}") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= form.submit I18n.t('location.seat.submit'), class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
