<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title) || "ç”²å­åœ’NOW!") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <meta name="google-site-verification" content="7LFDZ71B2lTVvdtwCYMeNkfmGth2ehjsji_v8_-hMkQ" />
    <meta name="google-site-verification" content="Z8L0G6zPNKHAZm8FbnHysNbZhNR31k72bflslBiRt3g" />
    <meta property="og:title" content="<%= page_title(yield(:title) || "ç”²å­åœ’NOW!") %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kousiennow.onrender.com/" />
    <meta property="og:image" content="<%= image_url('thumbnail.png') %>" />
    <meta property="og:description" content="ç”²å­åœ’NOW!ã¯ã€ç”²å­åœ’çƒå ´ã§ã®è¦³æˆ¦ã‚’ã‚ˆã‚Šæ¥½ã—ãã™ã‚‹ãŸã‚ã®SNSã‚¢ãƒ—ãƒªã§ã™ðŸ“£" />
    <meta property="og:site_name" content="ç”²å­åœ’NOW!" />
    <meta property="og:locale" content="ja_JP" />
  </head>

  <body class="d-flex flex-column min-vh-100" data-user-signed-in="<%= user_signed_in? %>" data-prompt-email="<%= @prompt_email %>">
    <%= breadcrumbs separator: " &rsaquo; " %>
      <%= render 'shared/header' %>

      <%# <dotlottie-player id="loadingAnimation" src="https://lottie.host/0a12408d-8878-4ef2-855c-3f8f30877110/SiMJoyZg4b.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> %>

    <%= render 'shared/flash_message' %>
    <main class="flex-shrink-0">
    <%= yield %>
    </main>
    <%= render 'shared/footer', class: 'fixed-bottom' %>
  </body>
</html>
