<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "甲子園NOW!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <meta name="google-site-verification" content="7LFDZ71B2lTVvdtwCYMeNkfmGth2ehjsji_v8_-hMkQ" />
    <meta name="google-site-verification" content="Z8L0G6zPNKHAZm8FbnHysNbZhNR31k72bflslBiRt3g" />
  </head>

  <body class="d-flex flex-column min-vh-100" data-user-signed-in="<%= user_signed_in? %>" data-prompt-email="<%= @prompt_email %>">
    <%= breadcrumbs separator: " &rsaquo; " %>
      <%= render 'shared/header' %>

      <%# <dotlottie-player id="loadingAnimation" src="https://lottie.host/0a12408d-8878-4ef2-855c-3f8f30877110/SiMJoyZg4b.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> %>

    <%= render 'shared/flash_message' %>
    <main class="flex-shrink-0">
    <%= yield %>
    </main>
    <%= render 'shared/footer', class: 'fixed-bottom' %>
  </body>
</html>
