<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title) || "甲子園NOW!") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/meta_tags' %>
    <div id="loading">
      <div id="loading_box">
        <div class="loading-one animation_loading">
          <p class="loading-txt">Loading...</p>
        </div>
      </div>
    </div>
  </head>

  <body class="d-flex flex-column min-vh-100" data-user-signed-in="<%= user_signed_in? %>" data-prompt-email="<%= @prompt_email %>">
  <div id="splash">
    <div id="splash_text"></div>
  </div>

    <%= breadcrumbs separator: " &rsaquo; " %>
      <%= render 'shared/header' %>

    <%= render 'shared/flash_message' %>
    <main class="flex-shrink-0">
    <%= yield %>
    </main>
    <%= render 'shared/footer', class: 'fixed-bottom' %>
  </body>
</html>
