<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title) || "ç”²å­åœ’NOW!") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <div id="loading">
      <div id="loading_box">
        <div class="loading-one animation_loading">
          <p class="loading-txt">Loading...</p>
        </div>
      </div>
    </div>
    <meta name="google-site-verification" content="7LFDZ71B2lTVvdtwCYMeNkfmGth2ehjsji_v8_-hMkQ" />
    <meta name="google-site-verification" content="Z8L0G6zPNKHAZm8FbnHysNbZhNR31k72bflslBiRt3g" />
    <meta property="og:title" content="<%= page_title(yield(:title) || "ç”²å­åœ’NOW!") %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kousiennow.onrender.com/" />
    <meta property="og:image" content="https://kousiennow.onrender.com/assets/thumbnail-914c15cf94e87cfbe56d2b4835b3c005fb8b4c4726bba16b1c7b586cce3c806d.png" />
    <meta property="og:description" content="ç”²å­åœ’NOW!ã¯ã€ç”²å­åœ’çƒå ´ã§ã®è¦³æˆ¦ã‚’ã‚ˆã‚Šæ¥½ã—ãã™ã‚‹ãŸã‚ã®SNSã‚¢ãƒ—ãƒªã§ã™ðŸ“£" />
    <meta property="og:site_name" content="ç”²å­åœ’NOW!" />
    <meta property="og:locale" content="ja_JP" />
  </head>

  <body class="d-flex flex-column min-vh-100" data-user-signed-in="<%= user_signed_in? %>" data-prompt-email="<%= @prompt_email %>">
  <div id="splash">
    <div id="splash_text"></div>
  </div>

    <%= breadcrumbs separator: " &rsaquo; " %>
      <%= render 'shared/header' %>

    <%= render 'shared/flash_message' %>
    <main class="flex-shrink-0">
    <%= yield %>
    </main>
    <%= render 'shared/footer', class: 'fixed-bottom' %>
  </body>
</html>
